- add_to_breadcrumbs _("Self-Hosted Models"), admin_labels_path
- breadcrumb_title _("Edit Edit Self-Hosted Model")
- page_title _("Edit"), @self_hosted_model.model, _("Self-Hosted Models")
%h1.page-title.gl-font-size-h-display
  = _('Edit Self-Hosted Model')

= render 'form', url: admin_ai_self_hosted_model_path(@self_hosted_model), back_path: admin_ai_self_hosted_models_path
